      <div tabIndex="2" className="dropdown nojs-dropdown">
        <div className={ props.page == 'index' ? "nav-item-index" : "nav-item-dash" }>
          <span className="dropdown-toggle nav-link d-none d-sm-none d-md-block">
            {user.name + ' ' + user.lastname}
            <span
              className="icon ion-md-contact ml-2 mr-1"
              style={{ fontSize: "1.4em" }}
            />
          </span>
        </div>
        <div className="dropdown-menu">
          <Link prefetch href="/account">
            <a href="/account" className="dropdown-item">
              <span className="icon ion-md-person mr-1" /> Cuenta
            </a>
          </Link>
          <Link prefetch href={ dashboardType }>
            <a href={ dashboardType } className="dropdown-item">
              <span className="icon ion-md-home mr-1" /> Dashboard
            </a>
          </Link>
          {adminMenuItem}
          <div className="dropdown-divider d-none d-md-block" />
          <div className="dropdown-item p-0">
            <Form
              id="signout"
              method="post"
              action="/auth/signout"
              onSubmit={() => props.onSubmit}
            >
              <input
                name="_csrf"
                type="hidden"
                value={props.session.csrfToken}
              />
              <Button
                type="submit"
                block
                className="pl-4 rounded-0 text-left dropdown-item"
              >
                <span className="icon ion-md-log-out mr-1" /> Salir
              </Button>
            </Form>
          </div>
        </div>
      </div>
