@charset "UTF-8";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
$violet: #433fa8;
$dark-violet: #0d0a4d;
$soft-violet: #807dcf;
$middle-gray: #7f7f7f;
$soft-gray: #ededed;
$blue-nobit: #004475;

$theme-colors: (
  primary: $blue-nobit
);

@import "../node_modules/ionicons/dist/scss/ionicons";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min";
@import "nojs-menus.scss";

button:hover {
  cursor: pointer;
}

.lead {
  font-size: 1.4em;
}

pre {
  background-color: #333;
  border-color: #333;
  color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar,
.navbar .btn,
.navbar .dropdown-item,
.navbar button {
  font-size: 15px;
}

/*.navbar {
  border-bottom: 1px solid #ddd;
}*/
.navbar-light .navbar-brand {
  color: $blue-nobit;
  margin-left: 10px;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: gray;
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 3em;
  }
  .display-3 {
    font-size: 2.5em;
  }
  .display-4 {
    font-size: 2em;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $blue-nobit;
  font-size: 1.1em;
}

.icon-spin {
  display: inline-block;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/**
 * Fix for Reactstrap
 **/
.react-bs-table-sizePerPage-dropdown .dropdown-item a {
  display: block;
  color: #000;
  text-decoration: none;
}

.react-bs-table-sizePerPage-dropdown button {
  background: #fff;
  color: #000;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#site-navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  z-index: 5;
}

nav.pages-header-nav {
  font-size: 0.9em;
  a:visited,
  a:link {
    margin: 0 12px;
    color: $soft-violet;
  }
  a.selected {
    font-weight: bolder;
    color: white;
    border-bottom: 1px solid white;
  }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgb(78, 78, 78);
}

.navbar-light .navbar-nav .nav-link {
  color: gray;
}

.nav-pills .nav-link {
  border-radius: 1.25rem;
}

.nav-item-dash {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white !important;
}

.nav-item-index {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #6c757d !important;
}

.dropdown-item {
  font-family: 'Roboto', sans-serif;
  font-size: 15px !important;
  color: #6c757d;
}

.form-check-input {
  margin-left: 0;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
textarea,
select {
  outline: none !important;
}

input[type="text"].confirmation-input {
  text-transform: uppercase;
}

//ListItem styles
$list-item-paddingR: 10px;
$img-size: 100px;
li.list-item {
  display: inline-flex;
  padding: 10px $list-item-paddingR;
  position: relative;
  img {
    width: $img-size;
    height: $img-size;
    margin-left: 1.5em;
  }
  .item-info {
    margin: 1em 0.4em 0 3em;
  }
  .item-opts {
    position: absolute;
    top: 1.8em;
    right: $list-item-paddingR;
    display: none;

    button {
      background: none;
      border: none;
    }
  }
  &:hover {
    .item-opts {
      display: block;
    }
  }
  .item-checkbox {
    margin-top: ($img-size / 3) - 8px;
    zoom: 1.3;
  }
  &.selected {
    background-color: #f9f8ff;
    z-index: 1;
    border: 1px solid $violet;
  }
  h3 {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
  }
}

$input-top-padding: 0.4em;
$left_padding: 34px;
/* search bar */
.search-bar-container {
  position: relative;
  margin: 20px 0;
  width: 100%;
  display: inline-flex;
  i {
    position: absolute;
    left: $left_padding;
    top: 12px;
    font-size: 1.4em;
    color: $middle-gray;
  }
  input[type="text"] {
    background-color: $soft-gray;
    border: none;
    border-radius: 0;
    height: auto;
    padding: $input-top-padding (($left_padding * 2)+ ($left_padding / 2));
    font-size: 1.2em;
    width: 100%;
  }
}

div#list-info-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 1em 0;
  padding-left: $list-item-paddingR;
  input[type="checkbox"] {
    zoom: 1.4;
  }
  p {
    font-size: 0.9em;
    margin: 0 0 0 32px;
    color: $middle-gray;
  }
}

.navbar-collapse {
  flex-grow: unset;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-direction: column;
  }
}

/*SIDEBAR*/
#sidebar-container {
  background-color: white;
  padding: 0;
  height: 100%;
  min-width: 90px;
  width: auto;
  padding-top: 10px;
  z-index: 3;
}

ul#side-bar li a i {
  margin: 0 10px;
  font-size: 1.5em;
}
ul#side-bar li a {
  padding: 11px 18px;
}
@media (min-width: 768px) {
  ul#side-bar li a i {
    font-size: 1.1em;
  }
}

/*CONTENT CONTAINER */
#content-container {
  padding: 25px 10px 0px 5px;
}

button.navbar-toggler {
  background-color: white;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("/static/bars-solid.svg");
}

/*ASSESTMENTS LIST */

ul#assesments-list {
  li {
    display: flex;
    margin: 30px 0;
  }
  span {
    font-size: 4em;
    font-weight: bold;
    background-color: $dark-violet;
    color: white;
    margin-right: 16px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    max-width: 140px;
  }
  li a {
    align-items: center;
    width: 100%;

    h2 {
      color: $dark-violet;
      font-size: 2.6em;
    }
  }
}

.btn-bluehome {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff;
  font-size: 15px !important;
}

.btn-greenhome {
  color: #fff;
  background-color: #00c9a7;
  border-color: #00c9a7;
  font-size: 15px !important;
}

.jumbotron {
  background-color: #fff;
  padding: 3rem 1rem;
}

#slogan-student, #slogan-university, #slogan-business {
  color: #377dff
}